<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Sentiment Prediction</title>

<body>
    <div class="container">
        <h1>Sentiment Analysis of Product Reviews</h1>
        <p>Please Provide your Feedback</p>
        <form action="/" method="post">
            <textarea id="review" name="review" placeholder="Enter your review here..." required></textarea><br>
            <input type="submit" value="Predict">
        </form>
        {% if sentiment is not none %}
        <div class="sentiment">
            <p>Sentiment Analysis Result:
                {% if sentiment == 1 %}
                <span class="positive">Positive 😊</span>
                {% elif sentiment == 0 %}
                <span class="negative">Negative 😞</span>
                {% else %}
                <span class="neutral">Neutral 😐</span>
                {% endif %}
            </p>
            <p>F1 Score: {{ f1 }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>